/* Arrière plan */
body {
    background-color: #4D545C;
    color: black;
  }
  
  /* Formatage du texte */
  * {
    font-family: "Arial", "sans-serif";
    font-size: 1em;
  }
  h1 {
    font-family: "Arial", "sans-serif";
    font-size: 1.7em;
    text-align: center;
  }
  h2 {
  font-family: "Arial", "sans-serif";
  font-size: 2.2em;
  }
  h3 {
  font-family: "Arial", "sans-serif";
  font-size: 1.17em;
  }
  
  /* Hyperliens */
  a {
  color: darkgray;
  text-decoration: none;
  }
  a:hover {
  color: lightgray;
  }
  a:active {
  background-color: lightgray;
  }
  a:focus {
  color: lightgray;
  }
  a:visited {
  color: lightgray;
  }
  #container{
    width:400px;
    margin:0 auto;
    margin-top:3%;
  }

  /* Bordered form */


  #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=time], input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */
  input[type=submit] {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  input[type=submit]:hover {
    background-color: white;
    color:     #007bff;
    border: 1px solid #007bff;
  }

  /* Oeil du mot de passe */

  label {
    position: relative;
  }
  label input:focus {
    border-color: #007bff;
  }
  label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top : 50%;
    right : 20px;
    transform: translateY(-50%);
    width: 20px;
    color: black;
    transition: all 0.2s;
  }
  label .password-icon:hover {
  cursor: pointer;
  color: #ff4754;
  }
  label .password-icon .feather-eye-off {
    display: none;
  }


  select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

  .boite{width:65%;background-color:white;margin:auto;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
  

  /* style du tableau liste */
  #affichageTournoi {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #affichageTournoi td, #affichageTournoi th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #affichageTournoi tr {
    background-color:#f2f2f2;
  }
  
  #affichageTournoi tr:hover {background-color: #ddd;}
  
  #affichageTournoi th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
  }
  
  /* VALIDATION */
  table th#vide {background-color: #4d545c; border: 0px}
  
  table td#vide {background-color: #4d545c; border: 0px}
  
  table th#valider {text-align: center ; background-color: white; color:black}
  
  table td#valide {cursor: pointer ; width: 8% ; text-align: center ; font-weight: bold ; background-color: #2abd35;}
  
  table td#invalide {cursor: pointer ; width: 8% ; text-align: center ; font-weight: bold ; background-color: #ff4848;}
  
  td#valide:hover {background-color: #C5F7CA;}
  
  td#invalide:hover {background-color: #F0AFAF;}
  
  /* NEW */
  
  
  
  
  footer {
    background-color: #222222;
    color: white;
  
  }
  
  
  footer p {
   color: white;
  }
  
  .allButFooter {
   min-height: calc(100vh - 40px);
  }


  /* NEGATION */
  #accueil form {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  #accueil .btn {
   background: #222222;
   color: white;
  }
  




  /* MAINNAVBAR */
  #mainNavbar {
   background-color: #222222;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 500;
   font-size: 1rem;
   font-weight: 100;
  }
  
  #mainNavbar p {
   color: white;
  }
  
  
  #mainNavbar .nav-link {
   color: white;
  }
  
  #mainNavbar .nav-link:hover {
   color: #007aff;
  }
  
  #mainNavbar .navbar-brand:hover {
   color: #007aff;
  }
  
  #mainNavbar .navbar-brand {
   color: white;
  }
  
  #mainNavbar .nav-link.color {
   color:  #007aff;
  }
  #mainNavbar .navbar-brand.colorb {
   color:  #007aff;
  }
  
  #mainNavbar .navbar-toggler-icon {
   background: url("images/menu.png");
  }
  




  /* ACCUEIL */
  #accueil  {
   margin-top: 110px;
  } 

  
  #first {
   background-image: url("images/foot.jpg");
   background-color: #cccccc;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-block: 15vw;
   color: white;
  }
  #first p {
   color: white;
   font-size: 2rem;
  }
  
  #fourth p {
   color: white;
   font-size: 2rem;
  }
  #second {
   background-image: url("images/winner.jpg");
   background-color: #cccccc;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-block: 7vw;
  }
  
  #third {
   background-image: url("images/winner.jpg");
   background-color: #cccccc;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-block: 7vw;
  }
  
  #fourth {
   background-image: url("images/equipe.jpg");
   background-color: #cccccc;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-block: 15vw;
   color: white;
  }
  
  #accueil input[type = "submit"]:hover {
   color: #007aff;
  }

  


  /* MARQUEE     */
  :root {
   --marquee-width: 100vw;
   --marquee-height: 55px;
   /* --marquee-elements: 12; */ 
   --marquee-elements-displayed: 5;
   --marquee-elements-displayed2: 3;

   --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
   --marquee-element-width2: calc(var(--marquee-width) / var(--marquee-elements-displayed2));

   --marquee-animation-duration: calc(var(--marquee-elements) * 9s);
   --marquee-animation-duration2: calc(var(--marquee-elements2) * 12s);
   }
  
   .marquee {
      position: fixed;
      z-index: 500;
      margin-top: 15px;
      width: var(--marquee-width);
      height: var(--marquee-height);
      background-color: white;
      color: #111;
      overflow: hidden;
      box-shadow: 0px 10px 10px rgba(255,255,255, 0.15);
   }
  
   .marquee p{
      color: black;
   }
   
   .marquee-content {
      list-style: none;
      height: 100%;
      display: flex;
      animation: scrolling var(--marquee-animation-duration) linear infinite;
   }
   .marquee-content:hover {
      animation-play-state: paused;
   } 
   @keyframes scrolling {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
   }
   
   .marquee-content li {
      flex-shrink: 0;
      width: var(--marquee-element-width);
      font-size: 0.8rem;
   }



   .marquee2 {
      position: fixed;
      z-index: 500;
      margin-top: 15px;
      width: var(--marquee-width);
      height: var(--marquee-height);
      background-color: white;
      color: #111;
      overflow: hidden;
      box-shadow: 0px 10px 10px rgba(255,255,255, 0.15);
    }
   
    .marquee2 p{
        color: black;
    }

    .marquee-content2 {
      list-style: none;
      height: 100%;
      display: flex;
      animation: scrolling2 var(--marquee-animation-duration2) linear infinite;
   }
   .marquee-content2:hover {
      animation-play-state: paused;
   } 
   @keyframes scrolling2 {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-1 * var(--marquee-element-width2) * var(--marquee-elements2))); }
   }
   
   .marquee-content2 li {
      flex-shrink: 0;
      width: var(--marquee-element-width2);
      font-size: 0.8rem;
   }



  #infos {
    font-size:20px;
    border-collapse:collapse;
    width:98%;
    margin:auto;
  }
  
  #infos td {
    border: 2px solid;
  }

   /* style pour le tableau d'information tournoi */
   #infosTournoi {
    font-size:20px;
    width:90%;
    border-collapse:collapse;
  }

  #infosTournoi td , th {
    border: 2px solid;
    text-align : center;
  }

  .box {
  display: flex;
  flex-wrap: wrap;
  }

  .inbox {
  flex: 1;
  margin: 4px;
  }

  .base {
    width:65%;
    background-color:white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding:20px;
  }

  

  /* Infos bulles */

  .bulle { 
    position:relative;
    color:white;
    text-decoration:none;
    font-family:arial, verdana, sans-serif;
    text-align:center;
    }
    
    .bulle:hover {
    background: none;
    z-index: 50;
    }
    
    .bulle span {
    display: none;
    }
    
    .bulle:hover span {
    display: block;
    position: absolute;
    top: 40px; 
    left: -240px; 
    font-family:arial, verdana, sans-serif;
    text-align:left;
    font-size:17px;
    color:black;
    font-weight:normal;
    width:240px;
    background: white;
    padding: 5px;
    border: #62c0f4 solid 1px ;
    text-indent: 0;
    }

    .bulle:active {
      background: none;
      z-index: 50;
      }

    .bulle:active span {
    display: block;
    position: absolute;
    top: 40px; 
    left: -240px; 
    font-family:arial, verdana, sans-serif;
    text-align:left;
    font-size:17px;
    color:black;
    font-weight:normal;
    width:240px;
    background: white;
    padding: 5px;
    border: #62c0f4 solid 1px ;
    text-indent: 0;
    }

    hr {
      border: 0;
      height: 1.5px;
      background-image: linear-gradient(to right, rgba(0, 122, 255, 0), rgba(0, 122, 255, 0.75), rgba(0, 122, 255, 0));
  }
  
  